<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jasmine.security.rbac.mapper.SecFunctionMapper">

    <resultMap id="securityFunctionBaseInfoDTO" type="jasmine.security.rbac.dto.SecFunctionBaseInfoDTO">
    </resultMap>

    <select id="listAllTenantFunctionBaseInfoDTOsByRoleIds" resultMap="securityFunctionBaseInfoDTO">
        select
        t_function.id function_id,
        t_function.function_code,
        t_function.function_name
        from sec_role t_role,
        sec_role_function_rel t_role_function_rel,
        sec_function t_function
        where t_role.id = t_role_function_rel.role_id
        and t_role_function_rel.function_id = t_function.id
        and t_role.enable_flag = 1
        and t_role.id in
        <foreach collection="roleIds" item="roleId" open="(" close=")" separator=",">
            #{roleId}
        </foreach>
        group by t_function.id, t_function.function_code, t_function.function_name
        order by t_function.function_code asc
    </select>

    <select id="listFunctionBaseInfoDTOsById" resultMap="securityFunctionBaseInfoDTO">
        select
        t_outer.function_id,
        t_outer.function_code,
        t_outer.function_name
        from (
        <!-- 查询被间接授予给的功能  -->
        (
        select
        t_function.id function_id,
        t_function.function_code,
        t_function.function_name
        from sec_function t_function,
        sec_function_permission_rel t_function_permission_rel,
        sec_permission_resource_rel t_permission_resource_rel
        where t_function.id = t_function_permission_rel.function_id
        and t_function_permission_rel.permission_id = t_permission_resource_rel.permission_id
        and t_permission_resource_rel.resource_id = #{resourceId}
        )
        <!-- END 查询被间接授予给的功能 -->
        union all
        <!-- 查询被直接授予给的功能 -->
        (
        select
        t_function.id function_id,
        t_function.function_code,
        t_function.function_name
        from sec_function t_function,
        sec_function_resource_rel t_function_resource_rel
        where t_function.id = t_function_resource_rel.function_id
        and t_function_resource_rel.resource_id = #{resourceId}
        )
        <!-- END 查询被直接授予给的功能 -->
        ) t_outer
        group by t_outer.function_id, t_outer.function_code, t_outer.function_name
        order by t_outer.function_code asc
    </select>

</mapper>