<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MoLiHua</title>
    <link href="/static/common/css/default.css" rel="stylesheet"/>
    <link href="/static/common/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/home/home.css" rel="stylesheet"/>
</head>
<body class="full-size scrollbar-hidden">
<!-- 导航栏 -->
<nav class="home-top-bar">
    <a class="nav-link" href="/logout">注销</a>
</nav>
<!-- END 导航栏 -->

<!-- 菜单侧栏 -->
<div class="home-side-bar">
    <div class="home-navbar-brand" href="#">MoLiHua</div>

    <ul class="home-menu-bar">
        <li class="home-menu-item">
            <a class="nav-link" href="/static/home/home-default.html">
                <span data-feather="home"></span>
                主页 <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="home-menu-item">
            <a class="nav-link" href="/journal/search">
                <span data-feather="file"></span>
                日记
            </a>
        </li>
    </ul>
</div>
<!-- END 菜单侧栏 -->

<!-- 内容区域 -->
<main class="home-main-content">
    <iframe src="/static/home/home-default.html" width="100%" height="100%" frameborder="0">

    </iframe>
</main>
<!-- END 内容区域 -->

<script src="/static/common/jquery/core/jquery.min.js" type='text/javascript'></script>
<script src="/static/common/feather-icons/feather.min.js" type='text/javascript'></script>
<script src="/static/home/home.js" type='text/javascript'></script>
</body>
</html>