<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>日志</title>
    <link href="/static/common/css/app.css" rel="stylesheet"/>
    <link href="/static/common/bootstrap/css/bootstrap.css" rel="stylesheet"/>
</head>
<body class="page-container">

<div th:if="${showSaveSuccess} == true" class="page-container-alert alert alert-success" role="alert">
    保存成功！
</div>

<form class="container" action="/journal/save" method="post">
    <!-- 日记标题 -->
    <div class="form-group">
        <input type="text" class="form-control" placeholder="标题"
               name="journalTitle" th:value="${record.journalTitle}" required="required">
    </div>

    <!-- 日记内容 -->
    <div class="form-group">
        <textarea class="form-control" rows="10" name="journalContent"
                  th:text="${record.journalContent}"></textarea>
    </div>

    <!-- 保存按钮 -->
    <div class="form-group">
        <input class="btn btn-success" type="submit" value="保存">
    </div>
</form>

<script src="/static/common/jquery/core/jquery.min.js" type='text/javascript'></script>
<script src="/static/journal/journal-edit.js" type='text/javascript'></script>
</body>
</html>