<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jasmine.EntityI18n">

    <insert id="insertI18n" parameterType="map">
        insert into ${table} (
        id,
        lang_code,
        created_date,
        created_by,
        last_updated_date,
        last_updated_by,
        version_number
        <foreach item="column" collection="columns" separator="">
            ,${column}
        </foreach>
        ) values (
        #{id, jdbcType=BIGINT},
        #{langCode, jdbcType=VARCHAR},
        #{createdDate, jdbcType=TIMESTAMP},
        #{createdBy, jdbcType=BIGINT},
        #{lastUpdatedDate, jdbcType=TIMESTAMP},
        #{lastUpdatedBy, jdbcType=BIGINT},
        #{versionNumber, jdbcType=INTEGER}
        <foreach item="value" collection="values" separator="">
            ,#{value, jdbcType=VARCHAR}
        </foreach>
        )
    </insert>

    <delete id="updateI18n" parameterType="map">
        update ${table} set
        last_updated_date = #{lastUpdatedDate, jdbcType=TIMESTAMP},
        last_updated_by = #{lastUpdatedBy, jdbcType=BIGINT},
        version_number = version_number + 1
        <foreach index="column" item="value" collection="values" separator="">
            ,${column} = #{value, jdbcType=VARCHAR}
        </foreach>
        where id = #{id, jdbcType=BIGINT}
        and lang_code = #{langCode, jdbcType=VARCHAR}
        <if test="versionNumber != null">
            and version_number = #{versionNumber, jdbcType=INTEGER}
        </if>
    </delete>

    <delete id="deleteI18n" parameterType="map">
        delete from ${table}
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id, jdbcType=BIGINT}
        </foreach>
        <if test="langCode != null">
            and lang_code = #{langCode, jdbcType=VARCHAR}
        </if>
    </delete>

    <select id="selectI18n" parameterType="map" resultType="map">
        select * from ${table}
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id, jdbcType=BIGINT}
        </foreach>
        <if test="langCode != null">
            and lang_code = #{langCode, jdbcType=VARCHAR}
        </if>
    </select>

</mapper>